test.*
*.pyc
*.log
dataset
*.swp
.vscode/*
input.txt
output.txt
*.json
.vscode/*
*.sh
/out_original
todo.txt
/data
/alignment/logs_96
/alignment/models/plots
/alignment/logs_96_AWGN
/alignment/logs_96_Rayleigh
/alignment/logs_rayleigh_96
